button {
    cursor: pointer;
}

.row-span {
    grid-column: 1/-1;
}

.new-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    max-width: 40rem;
    background-color: var(--fc-light);
    padding: 1rem;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
}

label {
    display: grid;
    gap: .5rem;
    color: hsl(0, 0%, 30%);
}

input,
select {
    font-size: inherit;
    padding: .5rem;
    border: 2px solid var(--fc-gray);
}

input:focus,
select:focus {
    outline: none;
    border: 2px solid var(--neon-purple);
}

.edit-product {  
    position: absolute;
    right: 0;
    background-color: var(--fc-gray);
    padding: 1rem;
    z-index: 1;
    border-radius: 4px;
}

.edit-product form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

.form-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.form-btn {
    font-size: inherit;
    font-weight: 700;
    padding: .5rem 1rem;
    width: fit-content;
    color: var(--fc-light);
    background-color: var(--neon-purple);
    border: 0;
    border-radius: 4px;
    transition: background-color 200ms ease-in-out;
}

.form-btn:hover {
    background-color: hsl(258, 90%, 60%);
}

.cancel-btn {
    background-color: var(--alert-red);
}

.cancel-btn:hover {
    background-color: hsl(0, 84%, 50%);
}